body{
    margin: 0;
    padding: 0 5%;
    background-color: #F6F4F3;
    font-family: "Montserrat", sans-serif;
}
 #navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 40px 0 20px;
 }

 #navigation .groupLogo{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #navigation .groupLogo img{
    width: 40px;
    height: 40px;
 }

 #navigation .groupLogo .nameLogo{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    transform: translateY(20%);
 }

 #navigation .menu ul li{
    display: inline-block;
    list-style-type: none;
    font-weight: 500;
 }

 #navigation .menu ul li{
    margin-right: 40px;
    cursor: pointer;
 }

 #navigation .menu .activeItem{
    font-weight: 600;
    color: #86654B;
 }

 #home{
    padding: 0 1%;
 }

 #home .banner{
    margin-top: 2%;
    background-image: url("./img/Picture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
 }

 #home .banner .bannerTitle{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding-left: 40px;
    padding-bottom: 20px;
 }

 .homeContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
 }

 .homeContent .homeContentLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
 }

 .homeContent .homeContentLeft .buttonShop{
    width: 125px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: #D1C8C1;
    border-radius: 40px;
    margin-top: 0;   
    cursor: pointer; 
 }

 .homeContent .groupImage{
    width: 58%;
 }

 .homeContent .groupImage img{
    width: 200px;
    height: 200px;
 }

 .homeContent .groupImage img:not(:last-child){
    margin-right: 10px;
 }
 
 #aboutMe{
   margin: 30px 0;
   padding: 0 1%;
   display: flex;
   justify-content: space-between;
 }

 #aboutMe img{
   width: 40%;
   height: 70vh;
 }

 #aboutMe .aboutMeContent{
   width: 58%;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 #aboutMe .aboutMeContent span:first-child{
   font-size: 15px;
   text-transform: uppercase;
   font-weight: bold;
 }

 #aboutMe .aboutMeContent span:nth-of-type(2){
   font-size: 26px;
   font-weight: bold;
 }

 #aboutMe .aboutMeContent .introduce, .content{
   padding-right: 30px;
 }

 #aboutMe .aboutMeContent .introduce{
   font-size: 11px;
   font-weight: 600;
   font-style: italic;
 }

 #aboutMe .aboutMeContent .content{
   font-size: 13px;
 }

 #aboutMe .aboutMeContent .btn{
   width: 130px;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px 30px;
   background-color: #D1C8C1;
   border-radius: 40px;
   cursor: pointer;
   margin-top: 30px;
 }